.banner{
    background-image: url("https://gatewayexpress.com.bd/uploads/1614408177.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    font-size: x-large;
    color: rgb(10, 162, 167);
}